%h3
  History with
  =@alias
  %a.glyphicon.glyphicon-pencil.toggle_aliases_editor
  %a.glyphicon.glyphicon-search.toggle_search_form

.aliases.list-group
  - @jids.each do |jid|
    .list-group-item
      = form_tag set_alias_path, "class" => "form-inline" do
        %div
          %b jid:
          = jid
        %div
          %b alias:
          = hidden_field_tag('Jid', jid)
          = text_field_tag('Alias', @alias, "class" => "form-control")
          = submit_tag('Rename', "class" => "btn btn-default" )

.search_from_history= render 'search_form'

= render 'message_list'


= will_paginate @messages, renderer: BootstrapPagination::Rails
