%h3 History with #{@alias}

- @jids.each do |jid|
  = form_tag set_alias_path do
    jid: #{jid}; alias:
    = hidden_field_tag('jid', jid)
    = text_field_tag('alias', @alias)
    = submit_tag('Rename')

.messages.list-group
  - @messages.each do |m|
    .message.list-group-item{ "class" => m.dir == 1 ? "sent" : "received" }
      %span.direction= m.dir == 1 ? "→" : "←"
      &nbsp;&nbsp;&nbsp;
      %span.time= m.utc
      &nbsp;&nbsp;&nbsp;
      %span.text= m.body

= will_paginate @messages, renderer: BootstrapPagination::Rails
